@model PosTech.Contatos.API.Models.Contato

@{
    ViewData["Title"] = "Excluir";
}

<h1>Excluir</h1>

<h3>Tem certeza que deseja excluir o contato?</h3>
<div>
   
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegiaoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegiaoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataCriacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataCriacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataUltimaAlteracao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataUltimaAlteracao)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
